body{
    padding-top:150px;
    background-color: rgba(252, 252, 252, 0.804);
}
.rentify-logo{
    width:100px;
}
.rentifydetail{
    width: 300px;
    background-color: white;
    border-style:solid;
    border-width:1px;
    border-color: rgb(5, 86, 16);
    border-radius: 7px;
    box-shadow: 0 0 3.5px rgba(0,0,0,0.262);
    
}
.rentify-image{
    width: 300px;
    height: 200px;
}
.rentify-details{
    width: 300px;
    height: 125px;
}
.images{
    width:265px;
    height: 160px;
    object-fit: cover;
    margin:0px;
    margin-top: 18px;
    margin-left: 18px;
    border-style: solid;
    border:none;
    border-radius: 7px;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
}
.rentify-place{
    font-weight:bold;
    font-size: 18px;
    margin:0px;
    margin-left:12px; 
    display:inline-block;
}
.save,.view{
    margin:0px;
    margin-left:18px;
    background-color:rgb(5, 86, 16);
    padding:0px;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:50px;
    padding-right:50px;
    border-style:solid;
    border:none;
    border-radius:4px;
    font-size:12px;
    font-weight:bold;
    color:white;
    cursor: pointer;
}
.view{
    margin-left:2px;
}
.save:hover{
    background-color: white;
    color:rgb(5, 86, 16);
    border-style:solid;
    border-color:rgb(5, 86, 16);
    border-style: solid;
    border-width: 1px;
    border-color:rgb(5, 86, 16);
    padding-top:11px;
    padding-bottom:11px;
    padding-left:49px;
    padding-right:49px;
}
.view:hover{
    background-color: white;
    color:rgb(5, 86, 16);
    border-style: solid;
    border-width: 1px;
    border-color:rgb(5, 86, 16);
    padding-top:11px;
    padding-bottom:11px;
    padding-left:49px;
    padding-right:49px;
}
.grid-rentify{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 12px;
    align-items: center;
}
.flex-rentify{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header{
    position:fixed;
    top:2;
    right:2;
    left:2;
    height:65px;
    display:flex;
    border-style: solid;
    border-width: 1px;
    border-color:rgba(5, 86, 16, 0.447);
    border-radius:4px;
    background-color: white;
    z-index:100;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
}
.logo-side{
    width:150px;
    border-radius:6px;
}
.search-side{
    flex:1;
    border-radius:6px;
}
.other-side{
    width:150px;
    border-radius:6px;
    position:relative;
}
.logo-side-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.search-side-flex{
    display:flex;
    align-items: center;
    height: 65px;
    margin:0px;
    margin-left:20px;
    margin-right:20px;
}
.text{
    width:100%;
    padding:0px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:10px;
    padding-right:10px;
    border-style:solid;
    border-width:1px;
    border-color:lightgray;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    background-color: rgb(251, 251, 251);
}
.text::placeholder{
    color:lightgray;
}
.search{
    padding:0px;
    padding-top:5px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
    border-style:solid;
    border-width:1px;
    border-color:lightgray;
    margin-left:-4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    background-color: white;
    cursor:pointer;
    position:relative;
}
.header-save-image{
    width:30px;
    height: 30px;
}
.save-image{
    cursor: pointer;
    position:relative;
}
.header-login{
    width:30px;
    height:30px;
    background-color: white;
    border-radius:50px;
    margin-left:30px;
    cursor: pointer;
    position:relative;
}
.search-image{
    width:28px;
    height:22px;
    object-fit: cover;
}
.search-tooltip,.save-tooltip,.login-tooltip{
    position:absolute;
    bottom:-39;
    left:0;
    background-color:white;
    padding:0;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:4px;
    padding-left:4px;
    font-size:12px;
    border-style:solid;
    border-width:1px;
    border-color:lightgray;
    border-radius:2px;
    color:rgb(105, 105, 105);
    opacity: 0;
}
.search:hover .search-tooltip,.save-image:hover .save-tooltip,.header-login:hover .login-tooltip{
    opacity:1;
}
.search .search-tooltip,.save-image:hover .save-tooltip,.header-login .login-tooltip{
    pointer-events: none;
}
.login-side{
    position:absolute;
    bottom:-110;
    right:0;
    left:0;
    height:106px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color:rgba(5, 86, 16, 0.447);
    border-radius:4px;
    background-color: white;
    z-index:100;
    opacity: 1;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
}
.buyer-tooltip,.seller-tooltip{
    margin:2px 2px 2px 2px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buyer-tooltip:hover,.seller-tooltip:hover{
    background-color: rgba(14, 149, 32, 0.693);
    color:white;
}

@media(max-width:630px){
    .grid-rentify{
        grid-template-columns: 1fr;
    }
}

@media(min-width:631px) and (max-width:953px){
    .grid-rentify{
        grid-template-columns: 1fr 1fr;
    }
} 

@media(min-width:954px) and (max-width:1280px){
    .grid-rentify{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1281px){
    .grid-rentify{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.location{
    width:14px;
    height:16px;
    display:inline-block;
    margin:0;
    margin-left:20px;
}

.amount{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-weight:bold;
    color:rgb(0, 0, 255);
    margin:0px;
    margin-top:14px;
    margin-bottom:14px;
}