body{
    padding-top:75px;
    background-color: rgba(252, 252, 252, 0.804);
}
.owner-detail{
    display: flex;
    width:490px;
    height:120px;
    border-style:solid;
    border:none;
    box-shadow:  0 0 3px rgba(0,0,0,0.15);
    border-radius:6px; 
}
.owner-image{
    width:150px;
    display:flex;
    justify-content:right;
    align-items: center;
    padding-right:20px;
}
.owner-details{
    width:350px;
    background-color: white;
    display: flex;
    justify-content:left;
    align-items:center;
    border-radius:6px; 

}
.image{
    width:80px;
    height:80px;
    border-style: solid;
    border:none;
    border-radius: 50px;
    object-fit: cover;
}
.prop-design{
    color:rgba(5, 99, 5, 0.898);
}
.perowner-heading{
    color:black;
    border-style:solid;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width: 0px;
    border-left-width:4px;
    padding:0px;
    padding-left:10px;
    border-color: green;
}
.logos{
    width:16px;
    height:16px;
    margin:20px;
    margin-right:8px;
}
.texts{
    font-size:12px;
    color:rgb(164, 159, 159);
    font-weight:bold;
    margin:0px;
}
.owner-detaill{
    display:flex;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-width:1px;
    border-top-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-color:lightgray;
}
.gride-property{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
    margin-top:40px;
    margin-bottom:40px;
}
@media(max-width:1090px){
    .gride-property{
        grid-template-columns: 1fr;
    }
    .owner-detaill{
        border-style: solid;
        border:none;
        margin-top:50px;
    }
}
.full-details{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:20px;
}
.full-rentify-detail{
    margin:10px;
    border-style:solid;
    border-width:0.5px;
    border-color:lightgray;
    border-radius: 8px;
    box-shadow: 0 0 3.5px rgba(0,0,0,0.15);

    padding:10px;
}
.header-side{
    display:flex;
    position:fixed;
    right:0;
    left:0;
    top:0;
    height:65px;
    background-color:rgba(252, 252, 252, 0.804);
}
.logo-side{
    width:150px;  
}
.purpose-of-head{
    flex:1;
}
.lock{
    width:150px;
}
.logo,.saves{
    display: flex;
    justify-content: center;
    align-items: center;
    height:65px;
}
.rentify-logo{
    width:100px;
}
.saves{
    font-size:24px;
    font-weight:bold;
    color:rgba(101, 100, 100, 0.769);
}